<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
        html{
            margin-top: -20px;
        }
        body{
            padding: 0;
            margin: 0;
        }
      .cont {
        display: flex;
        justify-content: space-around;
        background-color: powderblue;
        padding: 10px;
        font-size: large;
        list-style-type: none;
      }

      li{
        font-weight: 600;
        color: red;
      }
      
    </style>
  </head>
  <body>
    <ul class="cont">
      <li><a href="/admin/add-product">addProduct </a></li>
      <li><a href="/login">login </a></li>
      <li><a href="/contact-us">ContactUs</a></li>
    </ul>
  </body>
</html>
